.searchbar {
    position: relative;
    height: 90px;
}
.searchbar > div {
    position: fixed;
    left: 50px;
    right: 50px;
    bottom: 40px;
}
.searchbar > div > input {
    width: 100%;
    background-color: rgba(0,0,0,0);
    color: var(--default-color);
    font-size: 30pt;
    border: none;
    border-bottom: 2px solid var(--accent-color2);
    opacity: 0.3;
    transition: .3s;
}
.searchbar > div > input::placeholder {
    color: var(--accent-color2);
}
.searchbar > div > input:hover {
    opacity: 1;
}
.searchbar > div > input:focus {
    outline: none;
    opacity: 1;
}


@media only screen and (max-height: 700px) {
	.searchbar{
        display: none;
    }
}